:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 96px !important;
}

h2 {
  font-size: 48px !important;
  margin-top: 40px !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
}
p {
  font-size: 18px;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.contact-link,
.about-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-link,
.champagne-link,
.weather-link,
.yogurt-link {
  color: white;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.champagne,
.weather,
.yogurt {
  background: var(--secondary-color);
}

#contact {
  text-align: center;
  margin-bottom: 70px;
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
}

#contact a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .weather {
    margin-top: 25px;
  }
}
