:root {
  --primary-color: #bd8c7d;
  --secondary-color: #d1bfa7;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
html,
body {
  background: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  ) !important;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 80px !important;
}

h2 {
  font-size: 48px !important;
  margin-top: 20px !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
}
p {
  font-size: 18px;
}

.projects {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.project-img {
  transition: transform 0.2s;
}

.project-img:hover {
  transform: scale(1.1);
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-link,
.about-link,
.learn-more {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.learn-more {
  margin-left: 0;
}

.contact-link,
.learn-more {
  color: white;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-link:hover,
.contact-link:hover,
.learn-more:hover {
  text-decoration: none;
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.ana {
  display: block;
  margin: 0 auto;
}

.git-link {
  text-decoration: none;
  color: var(--primary-color);
}
.navbar-bg {
  background: #f1e5e9 !important;
  opacity: 2;
}

#contact {
  text-align: center;
  margin-bottom: 70px;
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
}

#contact a:hover {
  text-decoration: none;
}
#work {
  margin-top: 50px !important;
  font-size: 50px !important;
  font-weight: bold;
  margin-bottom: 80px !important;
}

@media (max-width: 767px) {
  .project-img {
    display: none;
  }
}

.social-media {
  line-height: 3;
  font-size: 30px;
  text-decoration: none;
  color: var(--primary-color);
}

.social-media a {
  color: black;
}
.social-media a:hover {
  color: black;
  text-decoration: none;
}
.contact-option {
  background: rgba(255, 255, 255, 0.4);
  width: 50%;
  display: block;
  margin: 10px auto;
}

/* DEMO-SPECIFIC STYLES */
.typer h1 {
  width: 50%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.float-area {
  margin: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating-img {
  font-size: 50px;
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
}

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}
